body {
  background-color: #0073b2;
  background-image: url('../img/large-background.png');
  color: #888;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}
#main {width: 960px;margin:0 auto;}
#logged-out {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background-color: #444;
  padding: 20px; 
}

.status-bar {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px 10px 10px 20px;
}


#bucket-bar-view { 
  background-color: rgba(0, 0, 0, .6); 
  color: #fff;
}

/*
#facet-list-view ul.facets li { display: inline-block; }
#facet-list-view ul.facet li { display: block; }
#facet-list-view ul.facet .label { color: #fff; }
#facet-list-view ul.facet .label.selected { color: lime; }
*/

#facet-list-view ul.facets > li { display: inline-block; margin-left: 5%;width: 30%; }
#facet-list-view ul.facets > li:first-child {margin:0;}
#facet-list-view ul.facet > li {margin: 7px 0;}
#facet-list-view ul.facet a { display: block;font-size: 0.9em;height: 15px;line-height:15px;padding:5px 0 5px 10px;text-decoration: none;background:#666;border:1px solid #666;border-top:none;border-radius: 5px 0 0 5px;position:relative;}
#facet-list-view ul.facet .graph {
	border-radius: 5px 0 0 5px;height: 25px;left: 0;position: absolute;top: 0;z-index: 1;width: 70%;
	/*Gradient*/
	background: #4a4d54;
	background: -moz-linear-gradient(top,  #4a4d54 1%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a4d54), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -o-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -ms-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: linear-gradient(top,  #4a4d54 1%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4d54', endColorstr='#000000',GradientType=0 );
}
#facet-list-view ul.facet .label { color: #fff;display: inline-block;overflow: hidden;white-space: nowrap;width: 195px;position: relative;z-index: 2; }
#facet-list-view .facet .count {float:right;font-size: 0.9em;color:#000;text-align: right;width: 40px;line-height:15px;position: relative;z-index: 2;}

a { color: yellow; }

#head-view {color:#fff;margin-bottom: 10px;}
#head-view .header {padding: 0 0 0 5px;font-weight:normal;margin:0;}
#head-view h1 {font-size: 2.5em;}
#head-view h2 {font-size: 0.9em;}
#head-view .user-name {font-weight:bold;}

#facet-list-view .facets,
#facet-list-view .facet {padding:0;}
#facet-list-view .facets {background:#000;}
#facet-list-view .facet {margin: 20px;}
