body {
  background-color: #0073b2;
  background-image: url('../img/large-background.png');
  color: #888;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

#logged-out {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background-color: #444;
  padding: 20px; 
}

.status-bar {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px 10px 10px 20px;
}

#bucket-bar-view { 
  background-color: rgba(0, 0, 0, .6); 
  color: #fff;
}

#facet-list-view ul.facets li { display: inline-block; }
#facet-list-view ul.facet li { display: block; }
#facet-list-view ul.facet .label { color: #fff; }
#facet-list-view ul.facet .label.selected { color: lime; }

a { color: yellow; }