body {
  background-color: #000;
  background-image: url('../img/large-background2.png');
  background-repeat: no-repeat;
  color: #888;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin-top: 60px;
}
#main {width: 960px;margin:0 auto;}
#logged-out {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background-color: #444;
  padding: 20px; 
}

.status-bar {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px 10px 10px 20px;
}


#bucket-bar-view { 
	background-color: rgba(0, 0, 0, .6); 
	color: #fff;
	height: 30px;
	margin-bottom: 0;
  	background: -moz-linear-gradient(top,  #63666a 0%, #494d52 38%, #494d52 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63666a), color-stop(38%,#494d52), color-stop(100%,#494d52));
	background: -webkit-linear-gradient(top,  #63666a 0%,#494d52 38%,#494d52 100%);
	background: -o-linear-gradient(top,  #63666a 0%,#494d52 38%,#494d52 100%);
	background: -ms-linear-gradient(top,  #63666a 0%,#494d52 38%,#494d52 100%);
	background: linear-gradient(top,  #63666a 0%,#494d52 38%,#494d52 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63666a', endColorstr='#494d52',GradientType=0 );
}

#bucket-bar-view ul { padding: 6px 0 0 20px; margin: 0; }
#bucket-bar-view li { display: inline-block; margin-right: 25px; font-size: 80%; }
#bucket-bar-view li a { text-decoration: none; color: #DF9202; }
#bucket-bar-view li a:hover { text-decoration: underline; color: rgba(255, 255, 255, 1); }

/*
#facet-list-view ul.facets li { display: inline-block; }
#facet-list-view ul.facet li { display: block; }
#facet-list-view ul.facet .label { color: #fff; }
#facet-list-view ul.facet .label.selected { color: lime; }
*/

#facet-list-view ul.facets .name { margin: 20px 0 0 20px; display: block; font-size: 120%; color: #fff; font-weight: normal;}
#facet-list-view ul.facets > li { display: inline-block; margin-left: 5%;width: 30%; vertical-align: top;}
#facet-list-view ul.facets > li:first-child {margin:0;}
#facet-list-view ul.facet > li {margin: 7px 0;}
#facet-list-view ul.facet a { display: block;font-size: 0.9em;height: 15px;line-height:15px;padding:5px 0 5px 10px;text-decoration: none;background:#4b4f55;border:1px solid #666;border-top:none;border-radius: 5px;position:relative;}
#facet-list-view ul.facet {
  font-size: 90%;
}

#facet-list-view ul.facet .graph {
	border-radius: 5px 0 0 5px;height: 25px;left: 0;position: absolute;top: 0;z-index: 1;width: 70%;
	/*Gradient*/
	background: #4a4d54;
	background: -moz-linear-gradient(top,  #4a4d54 1%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a4d54), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -o-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -ms-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: linear-gradient(top,  #4a4d54 1%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4d54', endColorstr='#000000',GradientType=0 );

  -moz-transition-property: width;
  -moz-transition-duration: 1100ms;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-property: width;
  -webkit-transition-duration: 1100ms;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-property: width;
  -o-transition-duration: 1100ms;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-property: width;
  -ms-transition-duration: 1100ms;
  -ms-transition-timing-function: ease-in-out;
  transition-property: width;
  transition-duration: 1100ms;
  transition-timing-function: ease-in-out;
}
#facet-list-view ul.facet .label { color: #fff;display: inline-block;overflow: hidden;white-space: nowrap;width: 190px;position: relative;z-index: 2; }
#facet-list-view ul.facet .selected a {
	/*Gradient*/
	background: #2a2b2f;
	background: -moz-linear-gradient(top,  #2a2b2f 0%, #2d2e32 4%, #3b3d43 17%, #404248 25%, #404248 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2b2f), color-stop(4%,#2d2e32), color-stop(17%,#3b3d43), color-stop(25%,#404248), color-stop(100%,#404248));
	background: -webkit-linear-gradient(top,  #2a2b2f 0%,#2d2e32 4%,#3b3d43 17%,#404248 25%,#404248 100%);
	background: -o-linear-gradient(top,  #2a2b2f 0%,#2d2e32 4%,#3b3d43 17%,#404248 25%,#404248 100%);
	background: -ms-linear-gradient(top,  #2a2b2f 0%,#2d2e32 4%,#3b3d43 17%,#404248 25%,#404248 100%);
	background: linear-gradient(top,  #2a2b2f 0%,#2d2e32 4%,#3b3d43 17%,#404248 25%,#404248 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2f', endColorstr='#404248',GradientType=0 );
}
#facet-list-view ul.facet .selected .graph {
	/*Gradient*/
	background: #4a4d54;
	background: -moz-linear-gradient(top,  #473110 1%, #835C0F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#473110), color-stop(100%,#835C0F));
	background: -webkit-linear-gradient(top,  #473110 1%,#835C0F 100%);
	background: -o-linear-gradient(top,  #473110 1%,#835C0F 100%);
	background: -ms-linear-gradient(top,  #473110 1%,#835C0F 100%);
	background: linear-gradient(top,  #473110 1%,#835C0F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473110', endColorstr='#835C0F',GradientType=0 );
}

#facet-list-view ul.facet a:hover .label { color: #DF9202; }
#facet-list-view ul.facet .selected .label { color: #fff; }
#facet-list-view .facet .count {float:right;font-size: 0.9em;color:#000;text-align: right;width: 40px;line-height:15px;position: relative;z-index: 2;margin-right:5px;}

a { color: yellow; }

#head-view {color:#fff;margin-bottom: 10px;}
#head-view .header {padding: 0 0 0 5px;font-weight:normal;margin:0;}
#head-view h1 {font-size: 2.5em;}
#head-view h2 {font-size: 0.9em;}
#head-view .user-name {font-weight:bold;}

#facet-list-view .facets,
#facet-list-view .facet {padding:0;}
#facet-list-view .facets {background:rgba(0, 0, 0, .6); margin:0;}
#facet-list-view .facet {margin: 20px;}

#people-list-view { background-color: rgba(0, 0, 0, .6); }
#people-list-view .people { margin-top: 0; padding: 0 0 0 20px;overflow: hidden; }
#people-list-view .people li { float: left; width: 452px; height: 125px; background-color: rgba(120, 120, 120, 0.6); margin: 0 15px 15px 0; overflow: hidden; }
#people-list-view .people img { float: left;width: 80px;height: 80px;border: 1px solid #666;padding: 1px; }
#people-list-view .people li .details { margin: 0 0 0 100px;display: block; }
#people-list-view .people li .name { font:1.1em Georgia,Serif; color: #fff;display: block;max-height: 42px;line-height:21px;overflow: hidden; }
#people-list-view .people li .person-name-link:hover {text-decoration: underline;}
#people-list-view .people li .headline { font-size: 0.85em;color: #fff;display: block;margin-top: 5px;max-height: 32px;line-height:16px;overflow: hidden; }
#people-list-view .people li .location { font-size: 0.85em;color: #ccc;display: block;overflow: hidden;height: 16px;line-height: 16px; }
#people-list-view .people li .profile-link { text-decoration: none; color: silver;display: block;overflow: hidden;margin: 7px;height: 84px; }

#people-list-view .people li .action-bar {height: 25px;line-height: 25px;border-bottom:1px solid #333;border-top:1px solid #666;
	/*Gradient*/
	background: #4a4d54;
	background: -moz-linear-gradient(top,  #4a4d54 1%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a4d54), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -o-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: -ms-linear-gradient(top,  #4a4d54 1%,#000000 100%);
	background: linear-gradient(top,  #4a4d54 1%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4d54', endColorstr='#000000',GradientType=0 );
}
#people-list-view .people .action-bar a{float:left;color:#fff;height:25px;line-height:25px;font-size: 0.8em;font-weight: bold;text-decoration: none;padding: 0 20px;border-right:1px solid #000;}
#people-list-view .people .action-bar .options {border-left: 1px solid #454545;float: left;height: 25px;line-height: 25px;padding: 0 15px;}

.network-degree {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#c7ebf6), to(white));
	background: -moz-linear-gradient(top, #c7ebf6, white);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7ebf6', endColorstr='#ffffff');
	border: 1px solid #39c;-moz-border-radius: 6px;-o-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;color: #39c;display: inline-block;font:bold 11px arial,sans-serif;font-style: normal;line-height: 12px;margin: -4px 0 0 5px;min-width: 20px;padding: 0 4px;text-align: center;vertical-align: middle;
}
#show-more { width: 100%; height: 30px; font-size: 90%; cursor: pointer;border:0;color: #fff;
	/*Gradient*/
  background: #4a4d54;
  background: -moz-linear-gradient(top,  #4a4d54 1%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4a4d54), color-stop(100%,#000000));
  background: -webkit-linear-gradient(top,  #4a4d54 1%,#000000 100%);
  background: -o-linear-gradient(top,  #4a4d54 1%,#000000 100%);
  background: -ms-linear-gradient(top,  #4a4d54 1%,#000000 100%);
  background: linear-gradient(top,  #4a4d54 1%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4d54', endColorstr='#000000',GradientType=0 );
}

 #show-more:hover { color:rgba(253, 255, 89, 1);}